@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .about-row p {
        font-size: 10pt;
    }
}

@media screen and (max-width: 960px) {
    .header-row-menu a {
        font-size: 12px;
    }

    .about-row h2 {
        font-size: 20px;
    }

    .news-row-content {
        flex-direction: column;
    }

    .news-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-info {
        display: none;
    }

    footer .contact-info {
        display: flex;
        flex-direction: column;
    }

    footer .contact-info * {
        margin: 0;
        text-align: center;
    }

    .about-row {
        padding-bottom: 0;
        margin: 0;
    }

    .about-row p {
        font-size: 14pt;
        max-height: 500px;
    }

    .header-dropdown-search {
        width: 50%;
    }
    .tab-content {
        display: flex;
        flex-direction: row;
    }

    .tab-row {
        flex-direction: column;
    }

    .vertical-tab-row {
        background: none;
    }

    .tab-options {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .tablinks {
        height: 100px;
        margin: 0;
    }

    .about-row {
        background: none;
    }

    .about-row h2 {
        color: black;
        text-align: center;
        padding: 0;
    }

    .about-row p {
        color: black;
    }
}

@media screen and (max-width: 855px) {
    .button-row {
        display: flex;
        justify-content: left;
        background: #cccccc;
        height: 64px;
    }
    .btndrop {
        background-image: url("images/menu.png");
        width: 64px;
        height: auto;
        display: block;
        outline: none;
        border: none;
        margin-left: 20px;
    }

    .header-row-menu {
        display: none;
        transition: 0.3s;
    }

    .header-row-menu ul {
        flex-direction: column;
        width: 100%;
    }
    .header-row-menu ul li {
        width: 100%;
        margin: 5px 0;
        border: none;
        border-radius: 0;
    }

    .logo {
        padding: 0;
        margin: auto;
    }
}

@media screen and (max-width: 790px){
    .contacts-row {
        flex-direction: column;
    }

    .contacts-row .col-4 {
        width: 100%;
        margin: 0;
    }

    .contacts-row .email-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 640px) {
    .tab-options {
        font-size: 11pt;
    }
    .tab-row-item {
        margin: 0;
    }
    .vertical-tab-row {
        padding: 0;
    }
    .tab-row {
        padding: 10px;
    }
    .news-item p {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        padding: 0 20px;
    }

    .header-dropdown-search {
        width: 100%;
    }

    .user-items {
        width: 100%;
        justify-content: space-around;
        margin-top: 0;
    }

    nav ul {
        padding: 0;
    }

    .email-box {
        flex-direction: column;
    }

    .email-box h5 {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        background: #cccccc;
    }

    .email {
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }

    .subscribe-box-input {
        width: 100%;
        margin: 10px 0;
        border-radius: 0;
    }

    .subscribe-button-submit{
        width: 100%;
        margin: 0;
    }
    .button-row {
        justify-content: center;
    }
    .btndrop {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .tab-content {
        flex-direction: column;
    }
}