@font-face {
    font-family: myriad;
    src: url(myriad.ttf);
}

* {
    box-sizing: border-box;
    font-size: 14pt;
}

body {
    margin: 0;
    font-family: myriad;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: 30pt;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 6);
    padding: 0 20px;
}

.col-4 {
    width: calc(100% / 3);
    padding: 0 20px;
}

.col-6 {
    width: calc(100% / 6);
    padding: 0 20px;
}

.col-8 {
    width: calc(100% * 2 / 3);
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.user-items {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    background: #cccccc;
    border-radius: 10px 10px 0 0;
    align-content: center;
    justify-content: space-evenly;
    padding: 5px 0;
}

.header-container .header-dropdown-search {
    padding: 15px;
}

.header-container .contact-info {
    padding-top: 15px;
}

.header-container .contact-info * {
    padding-bottom: 4px;
    margin: 0;
}
.logo {
    margin: auto;
}


.logo a {
    margin: auto;
}

.search-form-text {
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
    display: flex;
    justify-content: center;
    background: transparent;
}

.search {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #cccccc;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.search-button-submit {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    margin: auto;
}

.search-suggest-container {
    display: none;
}

.header-row-menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
    margin: 0 0 0 0;
}


.header-row-menu {
    display: flex;
    width: 100%;
    background: #cccccc;
}

.header-row-menu ul li {
    list-style-type: none;
    background: #929292;
    padding: 10px 20px 10px 20px;
    border-radius: 10px 10px 0 0;
    width: calc(100% / 6);
    text-align: center;
}

.vertical-tab-row {
    width: 100%;
    background-image: url("images/background1.png");
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.tab-options {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 5px 20px 5px 0;
    background-color: #cccccc;
    width: 180px;
}

.tablinks {
    outline: none;
    border: none;
    background: #cccccc no-repeat;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
    height: 60px
}

.tablinks:hover {
    background-color: #929292;
}

.tablinks.active {
    background-color: #929292;
}

.tab-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tab-content {
    background: #cccccc;
    display: flex;
    flex-direction: column;
}

.tab-row-item {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.item p {
    padding-bottom: 4px;
    margin: 0 0;
}

.item h4 {
    padding-top: 3px;
    margin: 0 0;
    padding-bottom: 0;
}

.news-row {
    width: 100%;
}

.news-row-content {
    display: flex;
    flex-direction: row;
}

.news-item {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    width: 50%;
}

.news-item p {
    width: calc(300%/4 - 20px);
    height: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 20px;
    text-align: justify;
}

.news-item h5 {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 20px 0 0;
}

.news-row h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.news-item img {
    padding: 0 20px 0 0;
}

.about-row {
    background-image: url("images/background2.png");
    color: lightgrey;
    margin-top: 15px;
    padding: 0 20px 14px 20px;
}

.about-row h2 {
    padding-top: 20px;
    margin: 0;
}

.about-row p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

footer {
    width: 100%;
}

.contacts-row {
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
}

.social li {
    padding-left: 10px;
}

.email {
    display: flex;
    flex-direction: row;
    width: 75%;

}

.email-box {
    width: calc(200%/3);
    background: #cccccc;
    display: flex;
    flex-direction: row;
}

.email-box h5 {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    background-color: white;
    text-align: center;
}

.subscribe-box-input {
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 10px 0 0 10px;
    height: 60px;
    outline: none;
    margin: 0 20px;
    width: calc(200%/3);
}

.subscribe-button-submit {
    width: calc(100%/3);
    margin: 0 20px;
    height: 60px;
    border-width: 2px;
    border-color: black;
    background-color: #929292;
}

.contacts-row .col-4 {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 0 20px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.contacts-row .col-4 * {
    margin: 0;
}

.contacts-row .col-4 h5 {
    display: flex;
    align-items: center;
    text-align: center;
}

footer .contact-info {
    display: none;
}

.btndrop {
    display: none;
}

.tab-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tab-input * {
    width: 100%;
}