body{
    margin: 0 auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;
    max-width: 1540px;
    box-sizing: border-box;
}

.col100{
    width: 100%;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-sp-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col-sp-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header{
    padding: 10px;
}

header > div{
    width: 100%;
    align-items: center;
}

#header-60px{
    height: 60px;
}

#header-120px{
    height: 120px;
}

#header-80px{
    height: 80px;
}

.yellow{
    background-color: #e5bf10;
}

h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

h3{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

h2,h3{
    color: #464664;
}

.li-tile{
    list-style-type: none;
    width: 365px;
    height: 300px;
    margin: 0px 10px;
   
    position: relative;

    background-size: 100%;
    background-repeat: no-repeat;
}

.li-tile:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.75;
    background-color: rgb(0,0,0);
  }
  

ul{
    padding: 0px;
}

h4{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}

a{
    text-decoration: none;
}

.li-tile > a{
    z-index: 1;
    width: 100%;
    height: 100%;
}

#Georggi{
    background-image: url("get_sshot/?url=https://sao.114-7.com/Georggi/&w=1260&h=1050");
}

#Gandhi{
    background: #0b0;
}

#redGuitarist{
    background-image: url("get_sshot/?url=https://sao.114-7.com/redGuitarist/&w=1260&h=1050");
}

#The_Brainiest{
    background-image: url("get_sshot/?url=https://sao.114-7.com/roma/&w=1260&h=1050");
}

#twitch-embed{
    margin: 10px;
}

footer{
    height: 115px;
    background: #464664;
}

@media screen and (max-width: 1150px){
    .mob-1col{
        
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .mob-wid{
        width: 45%;
        
    }

    .li-tile{
        background-size: 100%;
        margin: 10px;
    }
  
}

@media screen and (max-width: 800px){
    
    .mob-wid{
        width: 90%;
        
    }
  
}
